<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Assistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Assistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
      <Assistant.Properties.Settings>
        <setting name="DirectoryPath" serializeAs="String">
          <value />
        </setting>
        <setting name="BackupPath" serializeAs="String">
          <value />
        </setting>
        <setting name="RemoveTimestamps" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="CheckForUpdatesAutomatically" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="BackupChatLogAutomatically" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="EnableIntervalBackup" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="RemoveTimestampsFromBackup" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="IntervalTime" serializeAs="String">
          <value>10</value>
        </setting>
        <setting name="RemoveTimestampsFromFilter" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="FilterNames" serializeAs="String">
          <value />
        </setting>
        <setting name="StartWithWindows" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="FirstStart" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="SuppressNotifications" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="LanguageCode" serializeAs="String">
          <value>en-US</value>
        </setting>
        <setting name="HasPickedLanguage" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="UpdateCheckTimeout" serializeAs="String">
          <value>4</value>
        </setting>
        <setting name="DisableForumsButton" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="DisableFacebrowserButton" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="DisableUCPButton" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="DisableReleasesButton" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="DisableProjectButton" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="DarkMode" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Theme" serializeAs="String">
          <value>Default</value>
        </setting>
        <setting name="DisableInformationPopups" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="DisableWarningPopups" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="DisableErrorPopups" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="AlwaysCloseToTray" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="LastParsedAutoHash" serializeAs="String">
          <value />
        </setting>
        <setting name="IgnoreBetaVersions" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="FollowSystemMode" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="FollowSystemColor" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="SameHashAutoCount" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="OtherCriterionEnabled" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="OOCCriterionEnabled" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ICCriterionEnabled" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="EmoteCriterionEnabled" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ActionCriterionEnabled" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="PMCriterionEnabled" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="RadioCriterionEnabled" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="AdsCriterionEnabled" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="WarnOnSameHash" serializeAs="String">
          <value>False</value>
        </setting>
      </Assistant.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Assistant.Properties.Settings>
            <setting name="SameHashWarnAmount" serializeAs="String">
                <value>2</value>
            </setting>
        </Assistant.Properties.Settings>
    </applicationSettings>
</configuration>
